@tailwind base;
@tailwind components;
@tailwind utilities;
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.relative > div {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}
